<ion-header>  
  <ion-toolbar color="primary">  
    <ion-title>Ionic Progress Bar</ion-title>  
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding" color="light">   
<p>Indeterminate Progress Bar</p>  
<ion-progress-bar type="indeterminate"></ion-progress-bar>     
<p>Indeterminate Reversed</p>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>  
</ion-content> 


