<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addProduct()">
        Add New
      </ion-button>

    </ion-buttons>
    <ion-title>Products List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let product of products">
    <ion-item-sliding>
      <ion-item>
        <ion-label routerLink="Details/{{product.id}}">
          <h3 class="title">{{ product.name }}</h3>
          <p class="subtext">{{ "Price: " + product.price + " €" }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProduct(product.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="updateProduct(product)">
          Edit
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

